<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moneyloans.makemoneyandloans">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.moneyloans.makemoneyandloans.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.moneyloans.makemoneyandloans.IOFC" />
        <activity android:name="com.moneyloans.makemoneyandloans.FlexSalary" />
        <activity android:name="com.moneyloans.makemoneyandloans.Personal" />
        <activity android:name="com.moneyloans.makemoneyandloans.Nira" />
        <activity android:name="com.moneyloans.makemoneyandloans.KreditBee" />
        <activity android:name="com.moneyloans.makemoneyandloans.Loaninstant" />
        <activity android:name="com.moneyloans.makemoneyandloans.Dhani" />
        <activity android:name="com.moneyloans.makemoneyandloans.Paysense" />
        <activity android:name="com.moneyloans.makemoneyandloans.Quickcheck" />
        <activity android:name="com.moneyloans.makemoneyandloans.Aella" />
        <activity android:name="com.moneyloans.makemoneyandloans.Sokoloan" />
        <activity android:name="com.moneyloans.makemoneyandloans.PalmCredit" />
        <activity android:name="com.moneyloans.makemoneyandloans.Branch" />
        <activity android:name="com.moneyloans.makemoneyandloans.Stawika" />
        <activity android:name="com.moneyloans.makemoneyandloans.KCB" />
        <activity android:name="com.moneyloans.makemoneyandloans.Fairmoney" />
        <activity android:name="com.moneyloans.makemoneyandloans.Carbon" />
        <activity android:name="com.moneyloans.makemoneyandloans.Ipesa" />
        <activity android:name="com.moneyloans.makemoneyandloans.Timiza" />
        <activity android:name="com.moneyloans.makemoneyandloans.Opesa" />
        <activity android:name="com.moneyloans.makemoneyandloans.Tala" />
        <activity android:name="com.moneyloans.makemoneyandloans.Zenka" />
        <activity android:name="com.moneyloans.makemoneyandloans.OptionsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.moneyloans.makemoneyandloans.LandingPage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.moneyloans.makemoneyandloans.India"
            android:label="Loan apps in India" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.Nigeria"
            android:label="Loan apps in Nigeria" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.Kenya"
            android:label="Loan apps in Kenya" />


        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.TransitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Graphic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.SocialManage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Survey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.YourServices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.JobBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.ResellWebhosting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.AffiliateWebsite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Instagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.WebDeveloper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.SellPrograming"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Youtube"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.BuySellWebsites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.OnlineDirectory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.MembershipSite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.DigitalCourse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.EcommerceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.FreeBitcoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.BuySell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Bitcoin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.Affiliate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.SocialMedia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.MarketingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.AgentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.BrokerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.InsuranceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.WebsiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.AdSpaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.moneyloans.makemoneyandloans.makemoney.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>