<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ealoans.ealoans">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IOFC" />
        <activity android:name=".FlexSalary" />
        <activity android:name=".Personal" />
        <activity android:name=".Nira" />
        <activity android:name=".KreditBee" />
        <activity android:name=".Loaninstant" />
        <activity android:name=".Dhani" />
        <activity android:name=".Paysense" />
        <activity android:name=".Quickcheck" />
        <activity android:name=".Aella" />
        <activity android:name=".Sokoloan" />
        <activity android:name=".PalmCredit" />
        <activity android:name=".Branch" />
        <activity android:name=".Stawika" />
        <activity android:name=".KCB" />
        <activity android:name=".Fairmoney" />
        <activity android:name=".Carbon" />
        <activity android:name=".Ipesa" />
        <activity android:name=".Timiza" />
        <activity android:name=".Opesa" />
        <activity android:name=".Tala" />
        <activity android:name=".Zenka" />
        <activity android:name=".OptionsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LandingPage"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".India"
            android:label="Loan apps in India" />
        <activity
            android:name=".Nigeria"
            android:label="Loan apps in Nigeria" />
        <activity
            android:name=".Kenya"
            android:label="Loan apps in Kenya" />


        <activity
            android:name=".makemoney.TransitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Graphic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.SocialManage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Survey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.YourServices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.JobBoard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.ResellWebhosting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.AffiliateWebsite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Instagram"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.WebDeveloper"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.SellPrograming"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Youtube"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.BuySellWebsites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OnlineDirectory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.MembershipSite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.DigitalCourse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.EcommerceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.FreeBitcoinActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".makemoney.BuySell"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Bitcoin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.Affiliate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.SocialMedia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.MarketingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.AgentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.BrokerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.InsuranceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.BlogActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.WebsiteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.AdSpaceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makemoney.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>